/* Import Tailwind */
@import "tailwindcss";

/* Scroll menjadi halus */
html{
  scroll-behavior:smooth;
}

/* Body */
body{

  margin:0;

  padding:0;

  font-family:Arial, Helvetica, sans-serif;

  background:#ffffff;

  overflow-x:hidden;

}

/* Scrollbar */

::-webkit-scrollbar{

  width:10px;

}

::-webkit-scrollbar-track{

  background:#e5e7eb;

}

::-webkit-scrollbar-thumb{

  background:#f97316;

  border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

  background:#ea580c;

}

/* Seleksi teks */

::selection{

  background:#f97316;

  color:white;

}

/* Hover card */

.card{

  transition:.4s;

}

.card:hover{

  transform:translateY(-10px);

}

/* Gradient */

.orange-gradient{

background:linear-gradient(

90deg,

#f97316,

#fb923c

);

}
.swiper-button-next,
.swiper-button-prev {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  background: #f97316;
  color: white !important;
  box-shadow: 0 8px 20px rgba(249, 115, 22, 0.35);
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #ea580c;
  transform: scale(1.08);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important;
  font-weight: bold;
}